<div class="container content-wrapper pt-3 d-flex justify-content-center">
  <div class="sum">

  <div class="wrap">

    <div class="allres mt-3">
      <div class="text">

        <h2>Description</h2>

        <div class="titles">
          <span>Summary</span><p><%= "#{@reservation.car.summary}" %></p>
        </div>

        <div class="titles">
          <span>Capacity</span><p><%= "#{@reservation.car.capacity}" %></p>
        </div>

        <div class="titles">
          <span>Power</span><p><%= "#{@reservation.car.engine}" %></p>
        </div>

        <div class="titles">
          <span>Feature</span><p><%= "#{@reservation.car.features}" %></p>
        </div>

        <div class="titles">
          <span>Address</span><p><%= "#{@reservation.car.address}" %></p>
        </div>

      </div>

      <div class="card-product" >
        <h2>Booking n°<%= @reservation.id %> : <%= @reservation.car.name %></h2>
        <%= image_tag cl_image_path @reservation.car.photo.key, height: 300 %>
        <div class="links">
          <%= link_to "Delete",
            car_path(@reservation.car),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          <% if policy(@reservation.car).edit? %>
          <%= link_to "Update", edit_car_path(@reservation.car) %>
                  <% end %>
          <%= link_to "Back", cars_path %>
        </div>


      </div>
        <div class="text">
        <h2>Booking Summary</h2>
        <div class="titles">
          <span>Status</span><p><%= @reservation.status.capitalize %></p>
        </div>

        <div class="titles">
          <% @reservation.total = (@reservation.end_date - @reservation.started_date) / 60000 %>
          <span>Date</span><p>From<%= @reservation.started_date %> to <%= @reservation.end_date %></p>
        </div>
        <div class="titles">
          <span>Number of days</span><p><%= @reservation.total %> days</p>
        </div>
        <div class="titles">
          <span>Price</span><p><%= "#{@reservation.car.price} € per day" %></p>
        </div>
        <div class="titles">
          <% @reservation.price = @reservation.car.price * @reservation.total %>
          <span>Total price</span><p><%= @reservation.price %>€</p>
        </div>

      </div>
      </div>

    </div>
    <div class="wrap pb-3">

    <div class="d-flex justify-content-center" style="width: 1200px; height: 300px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  </div>
</div>


</div>
