<div class="popup">
  <% if car.photo.attached? %>
    <img src="<%= cl_image_path car.photo.key%>" alt="">
  <% end %>
  <h3><%= car.name %></h3>
  <h6><%= car.price %>€/day</h6>
  <p><%= car.address %></p>
  <div>
    <%= link_to "Book it", car_path(car[:id]), :class => "btn btn-primary" %>
  </div>
</div>
