<div class="d-flex">
  <div class="container">
    <div class="title text-center d-flex justify-content-between align-items-center">
      <h1>All our vehicules (<%= @cars.length %>)</h1>
    </div>
    <div class="cards mt-3">
      <% @cars.each do |car| %>
        <div class="card-trip" >
        <% if car.photo.attached?%>
          <img src="<%= cl_image_path car.photo.key, height: 300 %>" alt="">
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to car.name, car_path(car[:id]) %></h2>
              <div class="card-summary mt-2 mr-1"><p><%= car.summary %></p></div>
            </div>
              <h2 class="card-trip-pricing"><%= car.price %>$/day</h2>
              <% if car.user.avatar.attached? %>
              <img src="<%= cl_image_path car.user.avatar.key, height: 30 %>" alt="" class="card-trip-user avatar-bordered avatar">
                <% else %>
              <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1160&q=80" class="card-trip-user avatar-bordered" />
              <% end  %>

          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div style="width: 500px; height: calc(100vh); position: sticky; top: 0;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
