<div class="container content-wrapper pt-5">
  <h1><%= @car.name %> </h1>
  <div class="wrap">
    <div class="all">
      <div class="text">
          <h2>Description</h2>
          <div class="titles">
            <p><%= "#{@car.price} $ per day" %></p>
          </div>
          <div class="titles">
            <p><%= "Summary : #{@car.summary}" %></p>
          </div>
          <div class="titles">
          <p><%= "#{@car.capacity} people maximum" %></p>
          </div>
          <div class="titles">
          <p><%= "Power : #{@car.engine}" %></p>
          </div>
          <div class="titles">
            <p><%= "Feature : #{@car.features}" %></p>
          </div>
      </div>
      <div class="card-product" >
        <%= image_tag cl_image_path @car.photo.key, height: 300 %>
        <div class="links">
          <%= link_to "Delete",
              car_path(@car),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          <% if policy(@car).edit? %>
          <%= link_to "Update", edit_car_path(@car) %>
                    <% end %>
          <%= link_to "Back", cars_path %>
        </div>
      </div>
      <div class="bookings">
        <h1>Rent the Vehicule</h1>
          <%=simple_form_for [@car, @reservation] do |f| %>
            <%= f.input :started_date, as: :date %>
            <%= f.input :end_date, as: :date %>
            <%= f.submit %>
          <% end %>
      </div>
    </div>
  </div>
</div>
