<%= link_to "All cars", cars_path %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @car.photo.key, height: 400, width: 800, crop: :fill %>')">
<div class="container">
<h1><%= @car.name %> </h1>
</div>
</div>

<%= link_to "Remove",
            car_path(@car),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Edit", edit_car_path %>

<%= link_to "Book this car", new_car_reservation_path(@car) %>
