<div class="container content-wrapper pt-5">
  <div class="card-product" >
    <%= image_tag cl_image_path @car.photo.key, height: 300 %>
    <br>
    <div class="text">
      <h1><%= @car.name %> </h1>
      <div class="titles">
        <div div class="image">
          <i class="fas fa-money-check-alt"></i>
        </div>
      <p><%= "#{@car.price} $ per day" %></p>
      </div>
    <div class="titles">
      <div div class="image">
        <i class="fas fa-info"></i>
      </div>
    <p><%= "#{@car.summary}" %></p>
    </div>
    <div class="titles">
    <div div class="image">
      <i class="fas fa-users"></i>
    </div>
      <p><%= "#{@car.capacity} maximum" %></p>
    </div>
    <div class="titles">
    <div div class="image">
      <i class="fas fa-motorcycle"></i>
    </div>
      <p><%= "#{@car.engine}" %></p>
      </div>
    <div class="titles">
      <div class="image">
    <i class="fas fa-plus"></i>
        </div>
    <p><%= "#{@car.features}" %></p>
    </div>
      </div>
        <div class="links">
    <%= link_to "Rent", new_car_reservation_path(@car) %>
    <% if current_user == @car.user %>
      <%= link_to "Delete",
                          car_path(@car),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
               <%= link_to "Update", edit_car_path(@car) %>
              <% end %>
              <%= link_to "Back", cars_path %>
            </div>
      </div>
    </div>
  </div>
</div>
